@{
    ViewData["Title"] = "Instructors";
    Layout = "~/Views/Shared/Admin.cshtml";
}


    <div class="container-fluid py-1">
        <div class="container py-1">
            <div class="section-title text-center position-relative mb-0 mt-0">
                <h4 class="d-inline-block position-relative text-secondary text-uppercase pb-1">Instructors</h4>
                <h4>Meet Our Instructors</h4>
            </div>
        <div class="owl-carousel team-carousel position-relative d-flex align-items-center" style="padding: 0 40px;">
                
                <div class="team-item" style="height:5px;width:40%; padding-right:20px">
                    <img class="img-fluid w-100" src="img/team-2.jpg" alt="">
                    <div class="bg-light text-center p-2">
                        <h5 class="mb-3">Ahmed Emam</h5>
                        <p class="mb-2">Web Design & Development</p>
                        <div class="d-flex justify-content-center">
                            <a class="mx-1 p-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            <div class="team-item" style="height:5px;width:40% ; padding-left:20px ; ">
                <img class="img-fluid w-100" src="img/team-3.jpg" alt="">
                <div class="bg-light text-center p-2">
                    <h5 class="mb-3">salma</h5>
                    <p class="mb-2">Web Design & Development</p>
                    <div class="d-flex justify-content-center">
                        <a class="mx-1 p-1" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="mx-1 p-1" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="mx-1 p-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="mx-1 p-1" href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>


                    
